global:
  networks:
    # List of networks to carve up
    - 12.97.0.0/20
  shape:
    # key is <prefix|column>[_<suffix>]
    # value is a [<start table>,<end_table>,<tables_per_switch>]
    a:
      - [1, 36, 2]
      - [49, 74, 2]
    b_a:
      - [1, 74, 2]
    b_b:
      - [1, 36, 2]
      - [49, 74, 2]
    c:
      - [11, 64, 2]
  # What to carve out for each switch if not specified below
  default_netmask: 27
tables:
  # Overrides defaults, currently only supports netmask field
  b13-14b:
    netmask: 28
  b15-16b:
    netmask: 28
  b17-18b:
    netmask: 28
  b19-20b:
    netmask: 28
  b21-22b:
    netmask: 28
  b23-24b:
    netmask: 28
