$TTL 1800
@       IN      SOA     ns.at.quakecon.org. domain.quakecon.org. (
                     2016072301         ; Serial
                           1200         ; Refresh
                            180         ; Retry
                        2419200         ; Expire
                          10800 )       ; Negative Cache TTL
;
        IN      NS      core1.at.quakecon.org.
        IN      NS      core2.at.quakecon.org.	

	IN	A	172.16.1.141
;	IN	A	172.16.1.110

; NOC Network
cdn-local	IN	CNAME	web2
core1		IN	A	172.16.1.100
core2		IN	A	172.16.1.101
csgo1       IN  A   172.16.1.160
csgo2       IN  A   172.16.1.161
csgo3       IN  A   172.16.1.162
csgo4       IN  A   172.16.1.163
demo-staging 	IN 	CNAME	web1
demos		IN	CNAME	web1
qctdu		IN	CNAME	web1
es          IN  A   172.16.1.30
es1         IN  A   172.16.1.31
es2         IN  A   172.16.1.32
es3         IN  A   172.16.1.33
es4         IN  A   172.16.1.34
es5         IN  A   172.16.1.35
es6         IN  A   172.16.1.36
es7         IN  A   172.16.1.37
es8         IN  A   172.16.1.38
es9         IN  A   172.16.1.39
es10        IN  A   172.16.1.40
esx1		IN	A	172.16.1.60
esx2		IN	A	172.16.1.61
esx3		IN	A	172.16.1.62
esx4		IN	A	172.16.1.63
esx5		IN	A	172.16.1.64
esx6		IN	A	172.16.1.65
esx7		IN	A	172.16.1.66
esx8		IN	A	172.16.1.67
esx9		IN	A	172.16.1.68
freenas1    IN  A   172.16.1.69
freenas2    IN  A   172.16.1.70
ftp		IN	A	172.16.1.121
gamefinder	IN	A	172.16.1.75
gs1		IN	A	172.16.1.130
gs2		IN	A	172.16.1.131
gs3		IN	A	172.16.1.132
gs4		IN	A	172.16.1.133
gs5		IN	A	172.16.1.134
jabber		IN	A	172.16.1.125
;jabber		IN	A	172.16.1.126
jabber1 	IN	A	172.16.1.125
jabber2 	IN	A	172.16.1.126
logstasher  IN  A   172.16.1.29
minecraft1	IN	A	172.16.1.114
mon1 		IN	A	172.16.1.111
munin1		IN	A	172.16.1.73
mysql1		IN	A	172.16.1.112
nas1		IN	A	172.16.1.69
nas2		IN	A	172.16.1.70
nginxproxy	IN	A	172.16.1.92
ns		IN 	A	172.16.1.100
ns1  		IN	A	172.16.1.102
ns2  		IN	A	172.16.1.103
ns3  		IN	A	172.16.1.104
portal		IN	A	172.16.1.113
proxy1 		IN	A	172.16.1.90
proxy2 		IN	A	172.16.1.91
proxy3      IN  A   172.16.1.92
proxy4      IN  A   172.16.1.93
steamcache  IN  A   172.16.1.94
qc-core1 	IN	A	172.16.1.1
qconservertracker IN	A	172.16.1.72
qcvs		IN	A	172.16.1.115
qlbyoc1		IN	A	172.16.1.150
qlbyocgs	IN	A	172.16.1.151
reg1		IN	A	172.16.1.119
reg2		IN	A	172.16.1.120
source1		IN	A	172.16.1.135
squid1		IN	A	172.23.6.10
squid2		IN	A	172.23.6.11
stoptestingspeed IN A 172.16.1.92
thelinux	IN	A	172.16.1.71
topofrack	IN	A	172.16.1.10
triad       	IN  	A  	172.16.1.117
vcenter		IN	A	172.16.1.123
vcops       	IN  	A   	172.16.1.127
vent-byoc	IN	A	172.16.1.116
videocache	IN	A	172.23.3.3
videocacheproxy	IN	A	172.16.1.93
web1 		IN	A	172.16.1.109
web2 		IN	A	172.16.1.110
win1 		IN	A	172.16.1.106
win2 		IN	A	172.16.1.107
win3 		IN	A	172.16.1.108
wordpress	IN	A	172.16.1.141
xroads1 	IN	A	172.16.15.2
xroads2 	IN	A	172.16.15.3

; Tourney Network
qltourney	IN	A	172.17.1.101
qltourneygs	IN	A	172.17.1.102
vent-tourney	IN	A	172.17.1.40
tourney     IN  A   172.17.2.10
vent        IN  A   172.17.1.20

; ESS
registration	IN	CNAME	reg2.at.quakecon.org.
onsite		IN	CNAME	reg2.at.quakecon.org.
reg		IN	CNAME	reg2.at.quakecon.org.

; cnames
quakelive	IN	CNAME	qlbyoc1.at.quakecon.org.
xmpp		IN	CNAME	qlbyoc1.at.quakecon.org.
tournaments	IN	CNAME	qltourney.at.quakecon.org.
minecraft	IN 	CNAME	minecraft1.at.quakecon.org.
mc		IN 	CNAME	minecraft1.at.quakecon.org.
munin   	IN  	CNAME   munin1.at.quakecon.org.
volunteer	IN	CNAME	qcvs.at.quakecon.org.
sourcestats	IN	CNAME	source1.at.quakecon.org.
et		IN	CNAME	gs1.at.quakecon.org.
demos		IN	CNAME	web1.at.quakecon.org.
info		IN	CNAME	info.at.quakecon.org.
ventrilo	IN	CNAME	vent-byoc.at.quakecon.org.
;vent		IN	CNAME	vent-byoc.at.quakecon.org.

; JABBERZ
_xmpp-server._tcp.conference.jabber    IN      SRV     0 0 5269        jabber.at.quakecon.org.
_xmpp-server._tcp.pubsub.jabber        IN      SRV     0 0 5269        jabber.at.quakecon.org.
_xmpp-server._tcp.search.jabber        IN      SRV     0 0 5269        jabber.at.quakecon.org.
_xmpp-server._tcp.xmpp.jabber          IN      SRV     0 0 5269        jabber.at.quakecon.org.

; auto-generated stuff. don't touch unless your name is shawn
{%- for table in tables %}
sw-{{ table.name }}.byoc    IN      A       172.19.{{ loop.index }}.2

{%- endfor %}

; Comedy
jonyporkins		IN	CNAME	web1.at.quakecon.org.

; OTHER JABBERZ
$ORIGIN _tcp.jabber.at.quakecon.org.
_jabber                 IN      SRV     0 0 5222        jabber.at.quakecon.org.
_xmpp-client            IN      SRV     0 0 5222        jabber.at.quakecon.org.
_xmpp-server            IN      SRV     0 0 5269        jabber.at.quakecon.org.
