{% for t in tables %}
# {{ t.name }}
subnet {{ t.subnet }}
 netmask {{ t.netmask }} {
   option subnet-mask {{ t.netmask }};
   option routers {{ t.router }};
   option domain-name-servers {{ shuffle_dns() }};
   pool {
      failover peer "dhcp-failover";
      range {{ t.range_first }} {{ t.range_last }};
   }
}
{% endfor %}
