{% for t in tables %}
subnet {{ t.subnet }}
 netmask {{ t.netmask }} {
   option subnet-mask {{ t.netmask }};
   option routers {{ t.router }};
   option domain-name-servers 172.16.1.102, 172.16.1.103, 172.16.1.104;
   pool {
      failover peer "dhcp-failover";
      range {{ t.range_first }} {{ t.range_last }};
   }
}
{% endfor %}
