{% for switch in switches %}
subnet {{ subnet }}
 netmask {{ netmask }} {
   option subnet-mask {{ netmask }};
   option routers {{ router }};
   option domain-name-servers 172.16.1.102, 172.16.1.103, 172.16.1.104;
   pool {
      failover peer "dhcp-failover";
      range {{ range_first }} {{ range_last }};
   }
}
{% endfor %}
